@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h3>Welcome to a Blazor Server hosted in a Windows Server.</h3>

<p>A Worker append a record each 5 seconds in a EF in memory till 100 of records.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
