@inherits LayoutComponentBase

<PageTitle>Weather forecast Hosted in a Windows Service</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/dcube9/Host-Blazor-Server-As-Windows-Service" target="_blank">About Project</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
